<%= button_to "Log out", destroy_user_session_path, method: :delete, class: "logout" %>

<h1>List of all user</h1>

<div id="users-container user-list">
<% @users.each do |user|%>
    <a href=<%="/users/#{user.id}" %> id=<%="user#{user.id}"%>>
        <div class="container">
            <div class="profile">
                <img class="img-profile" src=<%= user.photo  %> id=<%="img#{user.id}" %> alt='ooops'/>
            </div>

            <div class="user border-2">
                <p class="user-name">
                user Name: <%=user.name %>
                </p>
                <div>
                <p class="counter">
                Number of posts: <%=user.posts.count %>
                </p>
                </div>
            </div>
        </div>
    </a>
<% end %>
</div>
