<div class="show-user">
  <div class="user-profile">
    <li>
      <div class="profile">
          <img class="img-profile" src=<%= "assets/profile1.png"  %> alt='ooops'/>
      </div>

      <div class="user">
          <p class="fullname">
            <%=@user.fullname %>
          </p>
          <p class="user-name">
            <%=@user.name %>
          </p>
          <div>
          <p class="counter">
          Number of posts: <%=@user.posts.count %>
          </p>
          </div>
      </div>
    </li>

    <div class="border-2 bio">
      <h3>Bio</h3>
      <p class="bio">
      <%=@user.bio %>
      </p>
    </div>
  </div>
  <div class="user-post-list">
    <div class ="see-all center addpost">
    <a href="/createpost">
    <button class ="see-all center addpost">Add post</button>
    </a>
    </div>
    <div>

    <% @user.last_three_posts.includes(:author).each do |post|%>
        <a href=<%="/users/#{@user.id}/posts/#{post.id}" %>>
            <div>
                <%= render "components/single_post", post: %>
            </div>
        </a>
    <% end %>
    </div>
    <div class="btn">
    <a href=<%="/users/#{@user.id}/posts" %>><button class="see-all center" id="all-posts">See all posts </button></a>
    </div>
  </div>
</div>