<main class="main">
	<div class="container mx-auto">
		<section class="wrapper">
      <div class="heading">
        <h2>Change your password</h2>
      </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class: "form") do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="input-control">
          <%= f.label :password, class: "hidden"%><br />
          <%= f.password_field :password, class: "input-field", placeholder: "Password: 6 characters minimum", autofocus: true, autocomplete: "new-password" %>
        </div>

        <div class="input-control">
          <%= f.label :password_confirmation, class: "hidden" %><br />
          <%= f.password_field :password_confirmation, placeholder: "Confirm password", class: "input-field", autocomplete: "new-password" %>
        </div>

        <div class="input-control">
          <%= f.submit "Change my password", class: "input-submit" %>
        </div>
      <% end %>
    </section>
  </div>
</main>
