<div class="post border-2">
  <div class="single-post">
      <p>Post#<%=@post.id%> by <%=@post.author.name %></p>
      <div>
        <p class="counter">|  
        Likes: <%=@post.likes.count %>
        </p>
        <p class="counter">
        Comments: <%=@post.comments.count %>
        |</p>
    </div>
  </div>


  <div>
  <p class="post-text">
        <%=@post.title %>
      </p>
      <p class="post-text">
        <%=@post.text %>
      </p>
      <div class="comment-like">
        <div class="like">
          <%= form_with url: "/like", method: :post do |form| %>
          <%= form.hidden_field :post_id, value:@post.id %>
          <%= form.hidden_field :author_id, value: current_user.id %>
          <%= form.submit "Like", class: "btn-cl" %>
          <% end %>
        </div>
        <div class="comment">
          <a href=<%="/users/#{current_user.id}/posts/#{@post.id}/loadcomment/"%>>
            <button class="btn-cl">Comment </button>
          </a>
        </div>
        <% if can? :destroy, @post %>
          <%= form_with url: "/deletepost", method: :post do |form| %>
          <%= form.hidden_field :post_id, value:@post.id %>
          <%= form.hidden_field :author_id, value: current_user.id %>
          <%= form.submit "Delete", class: "btn-cl" %>
          <% end %>
        <%end%>
      </div>
  </div>

</div>


<ul class="border-2">
  <% @all_comments.each do |comment| %>
      <li>
      <p>
        <%=current_user.name %>: <%=comment.text %> 
        </p>
        <% if can? :destroy, comment %>
          <%= form_with url: "/deletecomment", method: :post do |form| %>
          <%= form.hidden_field :post_id, value:comment.post_id %>
          <%= form.hidden_field :comment_id, value:comment.id %>
          <%= form.hidden_field :author_id, value: current_user.id %>
          <%= form.submit "Delete", class: "btn-cl" %>
          <% end %>
        <%end%>
      </li>
  <% end %>
</ul>
