<div class="post border-2">
  <div class="single-post">
      <p>Post#<%=@post.id%> by <%=@user_found.name %></p>
      <div>
        <p class="counter">|  
        Likes: <%=@post.comments.count %>
        </p>
        <p class="counter">
        Comments: <%=@post.comments.count %>
        |</p>
    </div>
  </div>


  <div>
      <p class="post-text">
        <%=@post.text %>
      </p>
  </div>

</div>


<ul class="border-2">
  <% @all_comments.each do |comment| %>
      <li>
        <%=@user_found.name %>: <%=comment.text %> 
      </li>
  <% end %>
</ul>